.form__container {
    flex-basis: 500px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 11px 10px 37px -2px rgb(209, 71, 90);;
}