html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position:center;
}

.header {
    text-align: center;
    color: rgb(209, 71, 90);
    text-shadow: 1px 2px 5px rgb(78, 76, 76);
}